main{
  background-color: #84F527;
}
nav{
  background-color: #F5F227;
}

footer{
  background-color: #A327F5;
}

aside{
  background-color: #F527E7;
}
article{
  background-color: #27C8F5;
}
header{
  background-color: #F5B427;
}
strong{
  background-color: #F52727;
}